
# Copy to terraform.tfvars and edit values as needed
subscription_id     = "<GUID>"
workload            = "contoso"
environment         = "dev"
location            = "eastus"
foundry_sku_name    = "S0"

# You may need to add any required tags (by Azure Policy)
tags = {
  owner = "analytics-architecture"
  cost  = "ai-foundry-pilot"
}
